*.csproj
*.sln
*.unityproj
*.suo
New Unity Project/Library/*
New Unity Project/Temp/*
New Unity Project/obj/*
/New Unity Project/*.csproj
/New Unity Project/*.csproj
/New Unity Project/*.csproj
/New Unity Project/*.unityproj
/New Unity Project/*.unityproj
/New Unity Project/*.sln
/New Unity Project/*.sln
/New Unity Project/*.suo
/New Unity Project/*.suo
/New Unity Project/*.csproj
